

@{
    var student = ViewData["Student"] as StudentModel;
}

<h2 style="color: #673ab7;">@ViewData["Header"]</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">StudentId: @student.StudentId</li>
  <li class="list-group-item">Name: @student.Name</li>
  <li class="list-group-item">Branch: @student.Branch</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">Section: @student.Section</li>
</ul>